/* Basic CSS for layout, you can move this to styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 60px;
    width: 100%;

    background: #333;
    color: #fff;

    padding: 0;
}
header .personallogo {
    padding-left: 10px;
    height: 55px;
    width: auto;
}
header .title {
    text-align: center;
    width: 100%;
    margin-left: 0px;
}
header .titlepadding {
    width: 100;
    height: 60;
}
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
nav {
    margin: 10px 0;
    text-align: center;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}
section {
    padding: 10px;
}
h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}
.education-header {
    display: flex;
    align-items: center;
    justify-content: initial;
    margin-bottom: 20px;
}
.education-header img {
    height: 30px; /* Adjust size as needed */
    width: auto;
    margin-right: 10px;
    object-fit: scale-down;
    padding-left: 20px;
}
.publication-header {
    display: flex;
    align-items: center;
    justify-content: initial;
    margin-bottom: 20px;
}
.publication-header img {
    height: 30px; /* Adjust size as needed */
    width: auto;
    margin-right: 10px;
    object-fit: scale-down;
    padding-left: 20px;
}
.opensource-header {
    display: flex;
    align-items: center;
    justify-content: initial;
    margin-bottom: 20px;
}
.opensource-header img {
    height: 30px; /* Adjust size as needed */
    width: auto;
    margin-right: 10px;
    object-fit: scale-down;
    padding-left: 20px;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    font-size:small;
    padding: 1px 0px 1px 0px;
    position: static;
    width: 100%;
    bottom: 0;
}
/* Background colors for sections */
#education {
    background-color: #f4f4f4; /* Light gray background for resume section */
    padding-left: 5%;
}
#publication {
    background-color: #e2e2e2; /* Slightly darker gray for portfolio section */
    padding-left: 5%;
}
#opensource {
    background-color: #f4f4f4; /* Light green background for projects section */
    padding-left: 5%;
}